body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.content{
    border: 2px solid black;
}

#cabecera{
    display: flex;
    height: 60px;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    color: black;
    margin: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#cabecera p{
    font-size: 40px;
}

#cabecera span{
    font-size: 10px;
    color: aquamarine;
}